* {
    box-sizing: border-box;
}

body {
    background : url("/images/pattern.svg") #E7E8F0;
    background-size : 200px;
    background-position: center center;
    color : #333;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    margin : 0;
    padding: 20px 0 0;
}

iframe {
    border-color: black;
}

#container{
    margin: auto;
    left : 0;
    right : 0;
    position:relative;
    display: inline-block;
}

#rules{
    text-align: left;
}

a {
    text-decoration: none;
    color : #ef3257;
}

a:hover {
    border-bottom : solid #ef3257 1px;
}

#wrapper{
    width : 100%;
    max-width : 800px;
    margin : auto;
    left : 0;
    right : 0;
}

.card-header{
    background-color : #fff;
    margin: 0;
    border-bottom : 1px solid #999;
    color : #444;
    font-weight: bold;
    text-align: center;
    font-size : 22px;
    padding: 60px 20px 14px 14px;
}

.card-header-small{
    background-color: #fff;
    margin: 0;
    border-bottom: 1px solid #999;
    color: #444;
    padding: 14px 20px 14px 14px;
    font-weight: bold;
}

.card-content{
    background-color : #fff;
    color : #333;
    margin: 0;
    padding : 16px;
}

.card-container.error .card-content{
    margin-bottom : 80px;
    background-color : #F8E4E8;
    color : #F03157;
}

.card-container {
    background-color: #fff;
    border-radius: 4px;
    margin : 10px;
    position: relative;
    top : 50px;
}

.card-avatar {
    width : 100px;
    border-radius : 100%;
    border : 5px solid #fff;
    display : block;
    margin : auto;
    left : 0;
    right : 0;
    position: absolute;
    top : -50px;
}